[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2024/1-grading-tests.git
[submodule "1-lev666"]
	path = 1-lev666
	url = git@github.com:spbu-coding-2024/1-lev666.git
[submodule "1-vvmaksim"]
	path = 1-vvmaksim
	url = git@github.com:spbu-coding-2024/1-vvmaksim.git
[submodule "1-Drenger"]
	path = 1-Drenger
	url = git@github.com:spbu-coding-2024/1-Drenger.git
[submodule "1-Stepiiiiiiik"]
	path = 1-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/1-Stepiiiiiiik.git
[submodule "1-Ganesha1967"]
	path = 1-Ganesha1967
	url = git@github.com:spbu-coding-2024/1-Ganesha1967.git
[submodule "1-epishkin06"]
	path = 1-epishkin06
	url = git@github.com:spbu-coding-2024/1-epishkin06.git
[submodule "1-alken1t15"]
	path = 1-alken1t15
	url = git@github.com:spbu-coding-2024/1-alken1t15.git
[submodule "1-desiredeternity"]
	path = 1-desiredeternity
	url = git@github.com:spbu-coding-2024/1-desiredeternity.git
[submodule "1-NIcolaiKl"]
	path = 1-NIcolaiKl
	url = git@github.com:spbu-coding-2024/1-NIcolaiKl.git
[submodule "1-d031273"]
	path = 1-d031273
	url = git@github.com:spbu-coding-2024/1-d031273.git
[submodule "1-RomanMaltsev"]
	path = 1-RomanMaltsev
	url = git@github.com:spbu-coding-2024/1-RomanMaltsev.git
[submodule "1-DaryaNechaeva"]
	path = 1-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/1-DaryaNechaeva.git
[submodule "1-End0ra"]
	path = 1-End0ra
	url = git@github.com:spbu-coding-2024/1-End0ra.git
[submodule "1-XRenso"]
	path = 1-XRenso
	url = git@github.com:spbu-coding-2024/1-XRenso.git
[submodule "1-MickeyPashaev"]
	path = 1-MickeyPashaev
	url = git@github.com:spbu-coding-2024/1-MickeyPashaev.git
