[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2024/1-grading-tests.git
[submodule "1-lev666"]
	path = 1-lev666
	url = git@github.com:spbu-coding-2024/1-lev666.git
[submodule "1-vvmaksim"]
	path = 1-vvmaksim
	url = git@github.com:spbu-coding-2024/1-vvmaksim.git
